doctype html
html
  head
    title Flex Dance Classes 
    block scripts
    block style 
  body
    nav#navbar 
        ul 
           div#logo 
            img(src="../public/logo.jpg", alt="Loding")
            k  Flex Dance Classes
           li #[a(href="/") HOME]
           li #[a(href="/") SERVICES]
           li #[a(href="/") CLASS-INFO] 
           li #[a(href="/") ABOUT US]
           li #[a(href="/cont") CONTACT US]
    block content
footer copyright @ 2020 FlexDanceClasses.com 