extends base.pug

block scripts
      script(src="") 
block style 
      style
        include ../public/style.css
block content

    section#pic 
       div Welcome To Flex Dance Classes 
       div Eat Sleep Dance Reapeat
    section#misson 
        f Our Missons
        div.box Dance Perfection
             div.drft 
                 img(src="../public/1.png", alt="Loding")
                 z Perfection Is Our Main Goal
                 z And We Will Achieve It Together
        div.box Dance As You Want
             div.drft 
                 img(src="../public/2.png", alt="Loding")
                 z Dance As Per Your Like
                 z Feel Very Free To Perform
        div.box Professional Trainer
             div.drft 
                 img(src="../public/3.png", alt="Loding")
                 z We Have Very Friendly And Most Professional Staffs Here !
              
        div.gbox Our Clients 

    section#clients 
            
            div.cl 
                 img(src="../public/lenovo-red-logo-4k-red-brickwall-lenovo-logo-brands.jpg", alt="Lading")
                 m Lenovo
            div.cl 
                 img(src="../public/wallpaperflare.com_wallpaper.jpg", alt="Lading")
                 m Microsoft
            div.cl 
                 img(src="../public/GzfEyjh-apple-logo-background.jpg", alt="Lading")
                 m Apple
            div.cl 
                 img(src="../public/dlf.pt-skype-png-4240507.png", alt="Lading")
                 r  Skype